html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    position: relative;
    background: rgb(0,19,69);
    background: -moz-linear-gradient(180deg, rgba(0,19,69,1) 0%, rgba(0,35,122,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,19,69,1) 0%, rgba(0,35,122,1) 100%);
    background: linear-gradient(180deg, rgba(0,19,69,1) 0%, rgba(0,35,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#001345",endColorstr="#00237a",GradientType=1);
    min-height:100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
